{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="LAB 4">
    <meta name="author" content="{{author}}">
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <link href=' http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href=' http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href=' http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href=' http://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>

    <title>
        {% block title %} Lab 4 By {{author}}{% endblock %}
    </title>
</head>

<style>

    h1 {
        font-family: "Montserrat Black";
        text-align: center;
        color: #ffffff;
    }

    h2{
        font-family: "Montserrat Black";
        color: #ffffff;
    }

    footer{
        font-family: "Open Sans";
        text-align: center;
        color: #ffffff;
    }

    #bio {
        float: left;
        width: 50%;
        font-family: "Open Sans";
        color: #4c4c4c;
    }

    #about_me {
        float: right;
        margin-left: 5%;
        width:45%;
        font-family: "Open Sans";
        color: #4c4c4c;
    }

    #topform {
        float: right;
        width: 100%;

        font-family: "Open Sans";
        color: #ffffff;
    }

    #form {
        color:#4c4c4c;
    }

    .img-circle {
        border-radius: 50%;
        border : #ffffff 2px solid;
    }

    .grad{
        height: 100vh;
        background: #92DDC8; /* For browsers that do not support gradients */
        /*background: #f1ebdf; /* For browsers that do not support gradients */
        /*background: -webkit-linear-gradient(#96b9cd, #f1ebdf); /* For Safari 5.1 to 6.0 */
        /*background: -o-linear-gradient(#96b9cd, #f1ebdf); /* For Opera 11.1 to 12.0 */
        /*background: -moz-linear-gradient(#96b9cd, #f1ebdf); /* For Firefox 3.6 to 15 */
        /*background: linear-gradient(#96b9cd, #f1ebdf); /* Standard syntax (must be last) */
    }

    .navbar.navbar-default {
        background-color: #0A3A2A;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .navbar.navbar-default.navbar-collapse {
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    footer{
        margin: 0;
        padding: 0;
    }


</style>

<body class = grad>
    <header>
        {% include "partials/header.html" %}
    </header>
    <content>
        <div class="container">
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
        </div>

    </content>
    <footer>
        <!-- TODO Block Footer dan include footer.html -->
        {% block footer %}
        {% include "partials/footer.html" %}
        {% endblock %}
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
